#*
*~
*.bck
*.pyc
.eggs
*.egg-info
version.py
_build.*
.cache
tests/.tests
tests/tmp*
.sconf_temp/
.sconsign.dblite
config.log
ups/*.cfgc
pytest_session.txt
bin/*
.coverage
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
.python-version
mypy.log
build/*
dist/*
python/lsst/utils/*
