-r requirements/main.in
-r requirements/test.in

lsst-sphgeom @ git+https://github.com/lsst/sphgeom@main
lsst-utils @ git+https://github.com/lsst/utils@main
lsst-resources[https,s3] @ git+https://github.com/lsst/resources@main
lsst-daf-relation @ git+https://github.com/lsst/daf_relation@main
