-r requirements/main.in
-r requirements/test.in

lsst-sphgeom @ git+https://github.com/lsst/sphgeom@v27.0.x
lsst-utils @ git+https://github.com/lsst/utils@v27.0.x
lsst-resources[https,s3] @ git+https://github.com/lsst/resources@v27.0.x
lsst-daf-relation @ git+https://github.com/lsst/daf_relation@v27.0.x
