-r requirements/main.in
-r requirements/test.in

lsst-sphgeom @ git+https://github.com/lsst/sphgeom@v29.1.x
lsst-utils @ git+https://github.com/lsst/utils@v29.1.x
lsst-resources[https,s3] @ git+https://github.com/lsst/resources@v29.1.x
lsst-daf-relation @ git+https://github.com/lsst/daf_relation@v29.0.x
