# This file gives the mapping between DatasetType and the
# `lsst.daf.butler.Formatter` that handles it.
write_recipes: !include writeRecipes.yaml
default:
  lsst.obs.base.formatters.fitsExposure.FitsExposureFormatter:
    # default is the default recipe regardless but this demonstrates
    # how to specify a default write parameter
    recipe: default
int: lsst.daf.butler.formatters.json.JsonFormatter
TablePersistable: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
Wcs: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
Psf: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
CoaddInputs: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
VisitInfo: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
ApCorr: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
PhotoCalib: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
FilterLabel: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
ExposureSummaryStats: lsst.daf.butler.formatters.yaml.YamlFormatter
TransmissionCurve: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
Camera: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
Detector: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
Polygon: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
Catalog: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
PeakCatalog: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
SimpleCatalog: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
SourceCatalog: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
ExposureCatalog: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
ObjectMaskCatalog: lsst.pipe.tasks.objectMasks.RegionFileFormatter
DataFrame: lsst.daf.butler.formatters.parquet.ParquetFormatter
Defects: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
IsrCalib: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
QECurve: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
CrosstalkCalib: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
PhotonTransferCurveDataset: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
Linearizer: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
BrighterFatterKernel: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
Image: lsst.obs.base.formatters.fitsExposure.FitsImageFormatter
ImageF: lsst.obs.base.formatters.fitsExposure.FitsImageFormatter
ImageU: lsst.obs.base.formatters.fitsExposure.FitsImageFormatter
DecoratedImageU: lsst.obs.base.formatters.fitsExposure.FitsExposureFormatter
Mask: lsst.obs.base.formatters.fitsExposure.FitsMaskFormatter
MaskX: lsst.obs.base.formatters.fitsExposure.FitsMaskFormatter
MaskedImageF: lsst.obs.base.formatters.fitsMaskedImage.FitsMaskedImageFormatter
Exposure: lsst.obs.base.formatters.fitsExposure.FitsExposureFormatter
ExposureF: lsst.obs.base.formatters.fitsExposure.FitsExposureFormatter
ExposureI: lsst.obs.base.formatters.fitsExposure.FitsExposureFormatter
SkyMap: lsst.daf.butler.formatters.pickle.PickleFormatter
Background: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
FocalPlaneBackground: lsst.daf.butler.formatters.pickle.PickleFormatter
Config: lsst.pipe.base.formatters.pexConfig.PexConfigFormatter
Packages:
  formatter: lsst.daf.butler.formatters.packages.PackagesFormatter
  parameters:
    format: yaml
PropertyList:
  formatter: lsst.daf.butler.formatters.yaml.YamlFormatter
  parameters:
    unsafe_dump: true
PropertySet:
  formatter: lsst.daf.butler.formatters.yaml.YamlFormatter
  parameters:
    unsafe_dump: true
NumpyArray: lsst.daf.butler.formatters.pickle.PickleFormatter
Plot: lsst.daf.butler.formatters.matplotlib.MatplotlibFormatter
MetricValue:
  formatter: lsst.daf.butler.formatters.yaml.YamlFormatter
  parameters:
    unsafe_dump: true
StructuredDataDict: lsst.daf.butler.formatters.yaml.YamlFormatter
StampsBase: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
Stamps: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
BrightStarStamps: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
AstropyTable: lsst.daf.butler.formatters.astropyTable.AstropyTableFormatter
AstropyQTable: lsst.daf.butler.formatters.astropyTable.AstropyTableFormatter
ArrowAstropy: lsst.daf.butler.formatters.parquet.ParquetFormatter
ArrowNumpy: lsst.daf.butler.formatters.parquet.ParquetFormatter
ArrowNumpyDict: lsst.daf.butler.formatters.parquet.ParquetFormatter
ArrowTable: lsst.daf.butler.formatters.parquet.ParquetFormatter
ArrowSchema: lsst.daf.butler.formatters.parquet.ParquetFormatter
ExtendedPsf: lsst.obs.base.formatters.fitsGeneric.FitsGenericFormatter
HealSparseMap: lsst.pipe.tasks.healSparseMapping.HealSparseMapFormatter
ButlerLogRecords: lsst.daf.butler.formatters.logs.ButlerLogRecordsFormatter
TaskMetadata: lsst.daf.butler.formatters.json.JsonFormatter
SpectractorSpectrum: lsst.atmospec.formatters.SpectractorSpectrumFormatter
SpectractorImage: lsst.atmospec.formatters.SpectractorImageFormatter
SpectractorFitParameters: lsst.atmospec.formatters.SpectractorFitParametersFormatter
ScarletModelData: lsst.daf.butler.formatters.json.JsonFormatter
MetricMeasurementBundle: lsst.daf.butler.formatters.json.JsonFormatter
MultipleCellCoadd: lsst.cell_coadds.CellCoaddFitsFormatter
