lsst.obs.base.formatters.fitsExposure.StandardFitsImageFormatterBase: &StandardFitsImageFormatterBase
  # No compression
  noCompression: &noCompression
    null

  # Lossless compression
  lossless: &lossless
    image: &losslessOptions
      algorithm: GZIP_2
    mask:
      <<: *losslessOptions
    variance:
      <<: *losslessOptions

  # Lossy (quantizing) compression with noise sigma subdivided into 16.
  lossy16:
    image: &lossy16Options
      algorithm: RICE_1
      quantization:
        dither: SUBTRACTIVE_DITHER_2
        scaling: STDEV_MASKED
        mask_planes: ["NO_DATA", "INTRP"]
        level: 16.0
    mask:
      <<: *losslessOptions
    variance:
      <<: *lossy16Options

  # Set the default
  default:
    <<: *lossless
lsst.obs.base.formatters.fitsExposure.FitsExposureFormatter:
  <<: *StandardFitsImageFormatterBase
lsst.obs.base.formatters.fitsExposure.FitsImageFormatter:
  <<: *StandardFitsImageFormatterBase
lsst.obs.base.formatters.fitsExposure.FitsMaskFormatter:
  <<: *StandardFitsImageFormatterBase
lsst.obs.base.formatters.fitsExposure.FitsMaskedImageFormatter:
  <<: *StandardFitsImageFormatterBase
