storageClasses:
  StructuredDataDict:
    pytype: dict
  StructuredDataList:
    pytype: list
  TablePersistable:
    pytype: lsst.afw.table.io.Persistable
  TablePersistableWcs:
    pytype: lsst.afw.geom.skyWcs.SkyWcs
  TablePersistablePsf:
    pytype: lsst.afw.detection.Psf
  TablePersistableCoaddInputs:
    pytype: lsst.afw.image.CoaddInputs
  TablePersistableVisitInfo:
    pytype: lsst.afw.image.VisitInfo
  TablePersistableApCorr:
    pytype: lsst.afw.image.ApCorrMap
  TablePersistableCalib:
    pytype: lsst.afw.image.Calib
  TablePersistableTransmissionCurve:
    pytype: lsst.afw.image.TransmissionCurve
  Image: &Image
    pytype: lsst.afw.image.Image
    assembler: lsst.daf.butler.assemblers.exposureAssembler.ExposureAssembler
    parameters:
      - bbox
      - origin
  ImageF:
    inheritsFrom: Image
    pytype: lsst.afw.image.ImageF
  ImageI:
    inheritsFrom: Image
    pytype: lsst.afw.image.ImageI
  ImageU:
    inheritsFrom: Image
    pytype: lsst.afw.image.ImageU
  DecoratedImage:
    pytype: lsst.afw.image.DecoratedImage
  DecoratedImageU:
    inheritsFrom: DecoratedImage
    pytype: lsst.afw.image.DecoratedImageU
  Mask:
    pytype: lsst.afw.image.Mask
    assembler: lsst.daf.butler.assemblers.exposureAssembler.ExposureAssembler
    parameters:
      - bbox
      - origin
  MaskX:
    inheritsFrom: Mask
    pytype: lsst.afw.image.MaskX
  MaskedImage:
    pytype: lsst.afw.image.MaskedImage
  MaskedImageF:
    inheritsFrom: MaskedImage
    pytype: lsst.afw.image.MaskedImageF
  MaskedImageU:
    inheritsFrom: MaskedImage
    pytype: lsst.afw.image.MaskedImageU
  MaskedImageI:
    inheritsFrom: MaskedImage
    pytype: lsst.afw.image.MaskedImageI
  Catalog:
    pytype: lsst.afw.table.BaseCatalog
  PeakCatalog:
    pytype: lsst.afw.detection.PeakCatalog
  SourceCatalog:
    pytype: lsst.afw.table.SourceCatalog
  SkyMap:
    pytype: lsst.skymap.BaseSkyMap
  PropertySet:
    pytype: lsst.daf.base.PropertySet
  PropertyList:
    pytype: lsst.daf.base.PropertyList
  PropertySet:
    pytype: lsst.daf.base.PropertySet
  Exposure:
    pytype: lsst.afw.image.Exposure
    assembler: lsst.daf.butler.assemblers.exposureAssembler.ExposureAssembler
    parameters:
      - bbox
      - origin
    components:
      image: Image
      mask: Mask
      variance: Image
      wcs: TablePersistableWcs
      psf: TablePersistablePsf
      calib: TablePersistableCalib
      visitInfo: TablePersistableVisitInfo
      apCorrMap: TablePersistableApCorr
      coaddInputs: TablePersistableCoaddInputs
      transmissionCurve: TablePersistableTransmissionCurve
      metadata: PropertyList
  ExposureF:
    inheritsFrom: Exposure
    pytype: lsst.afw.image.ExposureF
    components:
      image: ImageF
      mask: MaskX
      variance: ImageF
  ExposureI:
    inheritsFrom: Exposure
    pytype: lsst.afw.image.ExposureI
    components:
      image: ImageI
      mask: MaskX
      variance: ImageF
  Background:
    pytype: lsst.afw.math.BackgroundList
  Config:
    pytype: lsst.pex.config.Config
  Packages:
    pytype: lsst.base.Packages
