# Default with a sqlLite registry
registry:
  db: 'sqlite:///<butlerRoot>/gen3.sqlite3'
  engines:
    sqlite: lsst.daf.butler.registry.databases.sqlite.SqliteDatabase
    postgresql: lsst.daf.butler.registry.databases.postgresql.PostgresqlDatabase
  managers:
    attributes: lsst.daf.butler.registry.attributes.DefaultButlerAttributeManager
    opaque: lsst.daf.butler.registry.opaque.ByNameOpaqueTableStorageManager
    dimensions: lsst.daf.butler.registry.dimensions.static.StaticDimensionRecordStorageManager
    collections: lsst.daf.butler.registry.collections.synthIntKey.SynthIntKeyCollectionManager
    datasets: lsst.daf.butler.registry.datasets.byDimensions.ByDimensionsDatasetRecordStorageManagerUUID
    datastores: lsst.daf.butler.registry.bridge.monolithic.MonolithicDatastoreRegistryBridgeManager
