name: docs

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build_sphinx_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Need to clone everything for the git tags.
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"
          cache-dependency-path: "setup.cfg"

      - name: Install sqlite
        run: sudo apt-get install sqlite libyaml-dev

      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          pip install uv

      - name: Update wheel infrastructure
        run: |
          uv pip install --system wheel

      - name: Install postgresql (server)
        run: |
          sudo apt-get update
          sudo apt-get install postgresql

      - name: Install dependencies
        run: |
          uv pip install --system -r requirements.txt

      - name: Build and install
        run: uv pip install --system --no-deps -v -e .

      - name: Install graphviz
        run: sudo apt-get install graphviz

      - name: Install documenteer
        run: uv pip install --system 'documenteer[pipelines]==0.8.2'

      - name: Build documentation
        working-directory: ./doc
        run: package-docs build
