name: check Python formatting

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
          cache: "pip"

      - name: Install isort and black
        run: pip install isort black

      - name: Run isort
        run: isort --check-only bin.src/ python/ tests/

      - name: Run black
        run: black --check --verbose --diff bin.src/* python/ tests/
